
.ddsubmenustyle th.t1
{ 
}
.ddsubmenustyle td.t1
{
}
.t1 table
{
}

.t1 tr
{

}
.t1 td input
{

border:1px solid silver;
}
.t1 td textarea
{

border:1px solid silver;
}
.t1 td select
{

border:1px solid silver;
}
.t1 th
{

}
