span.reference{
                position:fixed;
                left:10px;
                bottom:10px;
                font-size:11px;
}
span.reference a{
	color:#DF7B61;
	text-decoration:none;
	text-transform: uppercase;
	text-shadow:0 1px 0 #fff;
}
span.reference a:hover{
	color:#000;
}
.test
{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#050505;
	width:100%;
	min-height:20px;
	height:auto;	
}
.test ul{
	width:100%;
	float:left;
	margin-top:0px;
}
.test ul li{

}
ul.ldd_menu{
	margin:0px;
	padding:0;
	display:block;
	list-style:none;
	/* -moz-box-shadow:0px 0px 0px;
	-webkit-box-shadow:0px 3px 4px;
	-box-shadow:0px 3px 4px;
	width:100%;
	float:left;
	margin-top:0PX; */
	width:100%;
	float:left;
	margin-top:0PX;
}
ul.ldd_menu a{
	text-decoration:none;
}
ul.ldd_menu > li{
	float:left;
	position:relative;
}
ul.ldd_menu > li > span{
	float:left;
	/*color:#fff;
	background-color:#D04528;
	height:50px;
	line-height:50px;*/
	cursor:pointer;
	padding:0px 0px;
	text-shadow:0px 0px 0px #fff;
	/*border-right:1px solid #DF7B61;
	border-left:1px solid #C44D37;*/
}
ul.ldd_menu .ldd_submenu{
	/* position:absolute; */
	margin:10PX -18px 0px 0px;
	width:600px;
	display:none;
	opacity:0.95;
	right:0px;
	top:20px;
	float:right;
	font-size:10px;
	background: #C34328;
	border-top:1px solid #EF593B;
	-moz-box-shadow:0px 3px 4px #591E12 inset;
	-webkit-box-shadow:0px 3px 4px #591E12 inset;
	-box-shadow:0px 3px 4px #591E12 inset;
}

a.ldd_subfoot{
	background-color:#f0f0f0;
	color:#444;
	display:block;
	clear:both;
	padding:15px 20px;
	text-transform:uppercase;
	font-family: Arial, serif;
	font-size:12px;
	text-shadow:0px 0px 1px #fff;
	-moz-box-shadow:0px 0px 2px #777 inset;
	-webkit-box-shadow:0px 0px 2px #777 inset;
	-box-shadow:0px 0px 2px #777 inset;
}
ul.ldd_menu ul{
	list-style:none;
	float:left;
	border-left:1px solid #DF7B61;
	/* background:url(../images/separetor.jpg); */
	margin:0px 0px 10px 30px;
	padding:10px;
	list-style-type:none;
}
li.ldd_heading{
	font-family: Georgia, serif;
	display:block;
	font-size: 13px;
	font-style: italic;
	color:#FFB39F;
	text-shadow:0px 0px 1px #B03E23;
	padding:0px 0px 10px 0px;
	list-style: none;
}
ul.ldd_menu ul li a{
	font-family: Arial, serif;
	font-size:10px;
	line-height:20px;
	color:#fff;
	padding:1px 3px;
	list-style: none;
}
ul.ldd_menu ul li a:hover{
	-moz-box-shadow:0px 0px 2px #333;
	-webkit-box-shadow:0px 0px 2px #333;
	box-shadow:0px 0px 2px #333;
	background:#AF412B;
}
ul.Idd_menu ul div.t
{
font-family: Arial, serif;
	font-size:10px;
	line-height:20px;
	color:#fff;
	padding:1px 3px;
	list-style: none
	}